[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-cord = "==2.0.0b7"
firebase-admin = "*"
pillow = "*"
matplotlib = "*"
mk8dx = "1.0"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
